<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add/Sponsor Leagues</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="form-container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
               aria-controls="nav-home" aria-selected="true">Add Your League</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
               aria-controls="nav-profile" aria-selected="false">Sponsor a League</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <section class="d-flex">
            <form th:action="@{'/add-league/'}" method="POST" th:object="${league}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">League Name</label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="coords">League's Coordinates</label>
                        <input type="text" class="form-control" id="coords" th:field="*{coords}" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="price">Sponsorship Need</label>
                        <input type="number" class="form-control" id="price" th:field="*{price}" required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <div id="leagues"></div>
            </section>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <section class="d-flex">
                <form th:action="@{'/find-leagues/'}" method="POST">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="name">Preferred Location</label>
                            <input type="text" class="form-control" id="coords2" name="coords" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="coords">Radius</label>
                            <select id="inputRadius" class="form-control" name="radius" required>
                                <option selected th:value="5" th:text="'5 miles'"></option>
                                <option th:value="10" th:text="'10 miles'"></option>
                                <option th:value="25" th:text="'25 miles'"></option>
                                <option th:value="50" th:text="'50 miles'"></option>
                                <option th:value="100" th:text="'100 miles'"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="budget">Sponsorship Budget</label>
                            <input type="number" class="form-control" id="budget" name="budget" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
<!--                <div id="leagues"></div>-->
            </section>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
>
</script>
<script>
    (function ($) {
        let request = $.ajax({'url': '/leagues.json'});
        request.done(function (leagues) {
            let html = '';
            leagues.forEach(function (league) {
                html += '<div>';
                html += '<p><strong>' + league.name + '</strong></p>';
                html += '<p>$' + league.price + '</p>';
                html += '</div>';
            });
            $('#leagues').html(html);
        });
    })(jQuery);
</script>
</body>